<div class="row animated fadeIn fast">
  <!-- Tabla de Usuarios -->
  <div class="col-4 animated fadeIn fast">
    <div class="card">
      <div class="card-body">
        <h3>Usuarios</h3>

        <div
          class="alert alert-info animated fadeIn fast"
          *ngIf="usuarios.length === 0"
        >
          <p class="mb-0">No hay usuarios para esta búsqueda</p>
        </div>

        <div
          class="table-responsive animated fadeIn fast"
          *ngIf="usuarios.length > 0"
        >
          <table class="table">
            <thead>
              <tr>
                <th>Foto</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios" class="animated fadeIn fast">
                <td>
                  <img
                    [src]="
                      usuario.img | imageBuilder: 'usuarios' | authImage | async
                    "
                    alt="Avatar de usuario"
                    class="avatar w50"
                  />
                </td>
                <td>{{ usuario.nombre }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Tabla de Medicos -->
  <div class="col-4 animated fadeIn fast">
    <div class="card">
      <div class="card-body">
        <h3>Médicos</h3>

        <div
          class="alert alert-info animated fadeIn fast"
          *ngIf="medicos.length === 0"
        >
          <p class="mb-0">No hay médicos para esta búsqueda</p>
        </div>

        <div
          class="table-responsive animated fadeIn fast"
          *ngIf="medicos.length > 0"
        >
          <table class="table">
            <thead>
              <tr>
                <th>Foto</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let medico of medicos"
                class="cursor animated fadeIn fast"
                (click)="abrirMedico(medico)"
              >
                <td>
                  <img
                    [src]="
                      medico.img | imageBuilder: 'medicos' | authImage | async
                    "
                    alt="Avatar de medico"
                    class="avatar w50"
                  />
                </td>
                <td>{{ medico.nombre }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Tabla de Hospitales -->
  <div class="col-4 animated fadeIn fast">
    <div class="card">
      <div class="card-body">
        <h3>Hospitales</h3>

        <div
          class="alert alert-info animated fadeIn fast"
          *ngIf="hospitales.length === 0"
        >
          <p class="mb-0">No hay hospitales para esta búsqueda</p>
        </div>

        <div
          class="table-responsive animated fadeIn fast"
          *ngIf="hospitales.length > 0"
        >
          <table class="table">
            <thead>
              <tr>
                <th>Foto</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let hospital of hospitales"
                class="animated fadeIn fast"
              >
                <td>
                  <img
                    [src]="
                      hospital.img
                        | imageBuilder: 'hospitales'
                        | authImage
                        | async
                    "
                    alt="Avatar de hospital"
                    class="avatar w50"
                  />
                </td>
                <td>{{ hospital.nombre }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
